body{
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-family: Trebuchet MS;
}
a{
    color:blueviolet;
    background-color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
     margin: 5px 0 10px 0; 
}

h2{
    font-size: 20px;
}

img{
    border-radius: 100px 100px 100px 100px;
}
